mat-card{
    margin-top : 10px;
}
.header{
    color: gray;
    font-weight: bold;
    font-size: 15px;        
}
.gotoright{
    float :  right;
    margin : 5px;
}
.styling{
    display: inline-block;
    margin-left: 10px;
    
}
